.header-container{
    background-color: #5c9c31;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image{
    max-width: 150px;
}

.sc-hknOHE{
    height: 90px;
    background-color: #5c9c31;
}
