*{
  margin: 0;
  padding: 0;
}

html, body{
  font-size: 18px;
  background-color: #f5f6f7;
}

h1{
  font-family:'Roboto';
  font-weight: 500;
  margin: 20px 0;
  /*max-width: 940px;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;*/
}

label, input{
  font-size: 15px;
}

input{
  width: 100%;
  min-width: 190px;
  min-height: 25px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
  border-color: rgb(47, 47, 47);
}

.App{
  min-height: 100vh;
}

.principal-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


